body{
  background: url(wallpaper.jpg) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
 }

.form {
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding-left: 2em;
   padding-right: 2em;
   padding-bottom: 0.4em;
   background-color: #171717;
   border-radius: 25px;
   width: 250px;
   height: auto;
 }
 
p {
   text-align: center;
   margin: 2em;
   color: rgb(255, 255, 255);
   font-size: 1.2em;
 }
 
 .btn {
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 10px;
   margin-top: 2.5em;
 }
 
 .button1, .button2 {
   padding: 0.5em;
   border-radius: 5px;
   border: none;
   outline: none;
   transition: .4s ease-in-out;
   background-color: #252525;
   color: white;
 }

 .button1:hover {
   background-color: black;
 }

 .button2:hover {
   background-color: red;
 }

 input{
   background-color:  #171717;
   border-radius: 10px;
 }
